<html>
<head>
    <title>用户登录</title>
</head>
<body>
<form action="${rc.contextPath}/login/auth" method="POST">
    <label for="username">用户名</label>
    <input name="username" id="username" placeholder="请输入用户名">
    <label for="password">密码</label>
    <input name="password" id="password" type="password">
    <input type="submit" value="登陆">
</form>
<br>
<hr>
    #set($list = ["pine","oak","maple"])
    #foreach ($element in $list)
        $velocityCount:
    This is $element
    <br>
    #end
<br>
<hr>
    #foreach($key in $map.keySet())
    key:$key ---> value:$map.get($key)
    <br>
    #end
<br>
<hr>

</body>
</html>
