<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>CodingStar博客</title>
    <!--react -->
    <script type="text/javascript" src="http://static.songxiaocai.com/erp/libs/react/0.14.8/react.min.js"></script>
    <script type="text/javascript" src="http://static.songxiaocai.com/erp/libs/react/0.14.8/react-dom.min.js"></script>
    <script type="text/javascript" src="http://static.songxiaocai.com/erp/libs/antd/1.11.0/antd.min.js"></script>
</head>
<body>
##<div id="header">#parse('layout/header.vm')</div>
<div id="content">
    <div id="main">$screen_content</div>
</div>
<div id="footer">#parse('layout/footer.vm')</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257169348'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1257169348' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
